:root {
    --theme-body-background-color: #1e1e1e;
}

body {
    background-color: var(--theme-body-background-color);
    height: 100vh;
    overflow: hidden;
}

button {
    font-weight: 900;
    padding: 10px 15px;
    border-radius: 10px;
}

.horizontal-center {
    width: 40%;
    margin: 0 auto;
}

.abs-max-height {
    height: 100%;
}

.rel-max-height {
    height: 100vh;
}

.half-height {
    height: 50%;
}

.vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.small-padding {
    padding: 5px;
}

.medium-padding {
    padding: 15px;
}

.hide{
    display: none;
}

.large-padding {
    padding: 15px;
}

.top-bar {
    width: 100%;
    padding: 20px 20px 10px 20px;
}

.top-bar div {
    display: flex; 
    justify-content: space-between;
    height: 100%;
}

.top-bar button {
    height: 100%;
    margin: 0;
    font-size: 1.1em;
    border-radius: 15px;
    
}

.top-bar p {
    letter-spacing: 2px;
    font-weight: 600;
    height: 100%;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 0 10px white;
}

header {
    position: absolute;
    left: 35%;
    top: 30%;
    border: 2px solid purple;
}

header div {
    width: 75%;
    margin: 0 auto;
}

header p {
    font-size: 1.2em;
    margin-top: 25px;
    margin-bottom: 50px;
}

h1 {
    letter-spacing: 5px;
    font-size: 50px;
    padding-bottom: 25px;
    font-family: revert;
}

.question-title::after {
    content:"";
    width: 80%;
    margin: 0 auto;
    background-color: #4c4c4c;
    position: absolute;
    left: 10%;
    bottom: -10px;
    height: 2px;
    border-radius: 2px;
    box-shadow: 0 0 3px #454545;
}
.start-quiz-button {
    margin: 25px auto 0 auto;
    font-weight: 900;
    padding: 10px 15px;
}

.question-screen {
    display: none;
}

.question-title, .question-title span {
    color: #cbcf92;
    font-family: monospace;
    margin-bottom: 40px;
    position: relative;
}

.question-title span:first-child {
    color: #7d7d7d;
}

.question-screen li {
    padding: 5px;
    width: 50%;
    min-height: 3em;
    transition: width 0.25s;
    word-break: break-all;
}

.question-screen li:hover {
    width: 60%;
}

.question-screen ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question-screen button {
    text-align: left;
    width: 100%;
    height: 100%;
    color: #dbdbdb;
    box-shadow: 0 0 5px #000000;
    background-color: #121212;
    transition: background-color 0.25s;
}

.question-screen button:hover {
    background-color: #1e1e1e;
}

.question-feedback {
    margin-top: 25px;
}

.question-feedback p {
    font-family: system-ui;
    font-weight: 900;
    color: #9c9c9c;
    font-size: 1.2em;
    margin-bottom: 0;
    text-align: left;
}

.finish-screen {
    display: none;
}

.finish-screen h2 {
    font-family: cursive;
    color: #fff5a6;
    margin-bottom: 5px;
}

.finish-screen p {
    font-family: cursive;
    font-size: 1.1em;
}

.score-entry {
    padding: 10px;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.score-entry label {
    height: 50%;
    flex: 1;
    margin-bottom: 5px;
    font-family: cursive;
}

.score-entry button {
    flex: 1;
    font-size: 1.1em;
    padding: 5px;
}

.score-entry input {
    margin-left: 15px;
    margin-right: 15px;
    flex: 1;
    min-width: 50px;
}

.highscores-screen ol {
    color: white;
    font-size: 1.4em;
    padding: 5px;
    font-weight: 900;
    overflow-y: scroll;
    margin-bottom: 15px;
    background-color: #272727;
    box-shadow: 0 0 10px black;
    max-height: 60vh;
    min-height: 20px;
}

.highscores-screen {
    display: none;
}

.highscores-screen h2 {
    font-family: cursive;
    color: #fff5a6;
    margin-bottom: 15px;
}

.highscores-screen button {
    display: inline;
    margin-right: 10px;
    box-shadow: 0 0 10px black;
}

.highscores-screen ol li {
    padding: 5px;
    background-color: #555555;
}

.highscores-screen ol li:nth-child(2n) {
    background-color: #454545;
}

@media screen and (max-width: 813px) {

    .horizontal-center {
        width: 80%;
    }
}

input {
    background-color: #0a0a0a;
    border: 0;
    font-size: 1.2em;
    font-weight: 100;
    color: white;
    border-radius: 10px;
    outline: none;
    padding: 8px 10px;
    border: 2px solid #1c1c1c;
}

* {
    box-sizing: border-box;
    color: black;
}

body {
    background-color:mediumslateblue;
}

p {
    margin-bottom: 10px;
    text-align: center;
    font-family: sans-serif;
}

h1, h2 {
    text-align: center;
}

h2 {
    padding-bottom: 10px;
}

button {
    display: block;
    font-size: 1em;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

label {
    color: #818181;
    font-size: 1.3em;
    text-align: right;
    font-weight: 900;
}